:root {  
  --primary: #005f99; 
  --secondary: #00b4d8;
  --accent: #e8c978; 
  --accentclear: #f4e9cb; 
  --ocean: #0077b6;
  --seafoam: #90e0ef;
  --seafoamclear: #ccfafc;
  --sand: #fdf0d5;
  --sandclear: #f6f2eb;
  --palm: #2d6a4f;
  --white: #ffffff;
  --light: #f8f9fa;
  --gray-light: #dee2e6;
  --gray: #1b263b;
  --dark: #1b263b;
  --glass: rgba(255, 255, 255, 0.7);
  --shadow: 0 4px 12px rgba(0,0,0,0.2);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:'Poppins', sans-serif;
    background:var(--light);
    color:var(--dark);
}

main{
    max-width:1200px;
    margin:0 auto;
    padding:2rem;
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;

}

header {
    background: linear-gradient(
        to right,
        var(--primary),
        var(--ocean),
        var(--secondary)
        );
	padding: 10px;
	color: var(--seafoam);
	margin: 0;
	font-size: clamp(1.4rem, 2vw, 3rem);
}

.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0;
    width: 100%;
}

#menu {    
	font-size: clamp(1.4rem, 2vw, 3rem);
	border: 0;
    background: none;
	color: var(--accentclear);
    margin-left: auto;  

}

#menu::before {
	content: "☰";
}

#menu.open::before {
	content: "✖";
}

.open a {
	display: block;
}

nav {
    display: flex;
    justify-content: right;
}

.navigation {
	display: none;
	list-style: none;
	padding: 0 0.5rem;

}

.navigation.open {
	display: block;
}

.navigation a {
	display: block;	
	color: var(--accentclear);
	padding: 0.7rem;
	font-size: clamp(1.4rem, 2vw, 3rem);
    font-weight: 200;
	transition: background-color 0.3s ease;
	
}

.navigation a:hover {
	color: var(--accentclear);
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 60px;
    height: 60px;
    object-fit: contain;
    display: block;
}

.explorer-hero{
    text-align:center;
    margin-bottom: 2rem;
}

.explorer-hero h1{
    color:var(--primary);
    margin-bottom: .5rem;
    font-size: clamp(1rem, 2vw, 2rem);
}

.filters{
    display:flex;
    gap:1rem;
    justify-content:center;
    margin-bottom:2rem;
    flex-wrap:wrap;
}


.filters select{
    padding:.8rem;
    border-radius:8px;
    border:1px solid var(--gray-light);
}

.gallery{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(320px,1fr));
    gap:2rem;
    max-width:1400px;
    margin:2rem auto;
    padding:0 1rem;
}

.card{
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    background:var(--sandclear);
    border-radius:10px;
    overflow:hidden;
    box-shadow:var(--shadow);
    transition:all .3s ease;
}

.card:hover{
    transform:translateY(-5px);
}

.card img{
    width:100%;
    height:160px;
    object-fit:cover;
    display:block;
    padding-bottom: 0.3rem;
    cursor: pointer;
}

.card-content{
    padding:1rem;
    margin: auto;
    font-size: clamp(.8rem, 2vw, .8rem);
}

.card-content h2{
    color:var(--primary);
    margin-bottom:.75rem;
}

.card-content p{
    margin-bottom:.5rem;
    color:var(--gray);
}

.card a {
    display: block;
}

.favorite-btn{
    margin-top:1rem;
    padding:.4rem 1rem;
    border:none;
    border-radius:8px;
    background:var(--accent);
    cursor:pointer;
}

#flag{
    width:40px;
    height:auto;
    margin-top:.5rem;
}

.favorite-btn{
    border: none;    
    border-radius: 8px;
    cursor: pointer;
    background: var(--accentclear);
}

.favorite-btn.active{
    background: var(--accent);
    color: var(--dark);
}

footer {
    background-color:var(--primary);
    text-align: center;
    padding: 0.5rem;
	color: var(--accentclear);
	
}

#destination-hero{
    position: relative;
    height: 500px;
    overflow: hidden;
    border-radius: 0 0 10px 10px;
}

#destination-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-overlay{
    position: absolute;
    inset: 0;
    display: flex;    
    flex-direction: column;
    justify-content: end;
    padding: 3rem;
    background: linear-gradient(to top,rgba(0,0,0,.75),rgba(0,0,0,.2),transparent);
}

.hero-overlay h3{
    color: var(--accent);
    font-size: clamp(2rem, 2vw, 3rem);
    margin-bottom: .5rem;
}

.hero-overlay p{
    color: var(--seafoamclear);
    font-size: clamp(1rem, 2vw, 2rem);
}

.destination-details{
    max-width:1200px;
    margin:1rem auto;    
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(120px,1fr));
    gap:1.5rem;
}


.info-card{
    background:var(--white);
    padding:.7rem;
    border-radius:16px;
    text-align:center;
    box-shadow:var(--shadow);
    background-color: var(--accentclear);
}

.info-card img{
    width:50px;
    height:50px;
    margin-bottom: 0.2rem;
   
}

.info-card h3 {
    color:var(--palm);
    margin-bottom:.5rem;
    font-size: clamp(.9rem, 1vw, 1rem);
}

.info-card p{
    color:var(--dark);
    font-weight:600;
    font-size: clamp(1rem, 1vw, 2rem);
}

#weather {
    display: flex;    
    align-items: center; 
    gap: .5rem;

}

#weather img{
    width: 30px;
    height: 30px;
   
}

#destination-gallery{
    max-width: 1200px;
    margin: 4rem auto;
    padding: 0 1rem;
    color: var(--palm);
}

#destination-gallery h1{
    text-align: center;
    margin-bottom: 2rem;
    color: var(--primary);
}

#gallery-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 1rem;
}

#gallery-grid img{

    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 12px;    
    transition: transform .3s;
}


@media (min-width: 640px) {

	header {
		display: flex;
		align-items: center;
		padding: 0 1rem;
		font-size: clamp(1rem, 2vw, 3rem);
	}

	nav {
		margin-left: auto;
		font-size: 1rem
	}

	.navigation {
		display: flex;
		flex-direction: row;
		gap: 1.5rem;
		padding: 0;
		margin: 0;
		
	}

	.navigation a {
		padding: 0.7rem;
		transition: background-color 0.3s ease;
		
	}

	#menu {
		display: none;
	}


}