:root {  
  --primary: #005f99; 
  --secondary: #00b4d8;
  --accent: #e8c978; 
  --accentclear: #f4e9cb; 
  --ocean: #0077b6;
  --seafoam: #90e0ef;
  --seafoamclear: #ccfafc;
  --sand: #fdf0d5;
  --palm: #2d6a4f;
  --white: #ffffff;
  --light: #f8f9fa;
  --gray-light: #dee2e6;
  --gray: #1b263b;
  --dark: #1b263b;
  --glass: rgba(255, 255, 255, 0.7);
  --shadow: 0 4px 12px rgba(0,0,0,0.2);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
   
}

.thank-you {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    color: var(--palm)
}

.thank-you h1 {
    font-size: clamp(2rem, 5vw, 4rem);
    margin-bottom: 1rem;
}

.thank-you p {
    max-width: 700px;
    line-height: 1.8;
    font-size: 1.1rem;
    margin-bottom: 2rem;
}

.thank-you a {
    display: inline-block;
    text-decoration: none;
    background: var(--accent);
    color: var(--dark);
    font-weight: 700;
    padding: 1rem 2rem;
    border-radius: 999px;
    transition: transform .3s ease,
                background .3s ease;
}

.thank-you a:hover {
    transform: translateY(-3px);
    background: var(--accentclear)
}


@media (max-width: 768px) {

    .thank-you {
        padding: 1.5rem;
    }

    .thank-you h1 {
        font-size: 2.5rem;
    }

    .thank-you p {
        font-size: 1rem;
    }
}